* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Harpseal, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-general-background);
    color: var(--color-general-text);
    line-height: 1;
    --color-general-text: #F5DAFF;
    --color-border: rgba(255, 255, 255, 0.24);
    --color-glass-background: rgba(254, 206, 255, 0.2);
    --color-glass-background-hover: rgba(254, 206, 255, 0.34);
    --color-general-background: #3E1E47;
    --shadow-general: 0 5px 10px rgba(20, 0, 16, 0.29);
    --shadow-general-hover: 0 5px 20px rgba(20, 0, 16, 0.63);
    --border-radius: 10px;
    --font-size-title: 32px;
    --font-size-general: 24px;
    --font-size-subtitle: 16px;
}

@media (max-width: 400px) {
    body {
        --font-size-general: 20px;
        --font-size-subtitle: 16px;
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (orientation: landscape) {
    ::-webkit-scrollbar {
        background-color: var(--color-glass-background-hover);
        width: 12px;
    }
}

@media (orientation: landscape) {
    ::-webkit-scrollbar-thumb {
        background-color: rgba(245, 218, 255, 0.3);
        border-radius: 5px;
    }
}
